In [9]:
import streamlit as st
import pandas as pd
from PDP.twitter.twitterConstants import api_key, api_secrets, access_token, access_secret
from PDP.twitter.twitterScraper import authenticate, twitterScraper

def load_twitterScraper(api_key, api_secrets, access_token, access_secret):
    scraper = twitterScraper(api_key, api_secrets, access_token, access_secret)
    return scraper



scraper = load_twitterScraper(api_key, api_secrets, access_token, access_secret)
search = st.text_input(label='@add_twitter_account')

twitter_df = pd.DataFrame(columns=['name', 'tag', 'followers count', 'idols count'])

Successful Authentication

In [10]:
twitter_df

Empty DataFrame
Columns: [name, tag, followers count, idols count]
Index: []

In [11]:
name, screen_name, followers_count, idols_count = scraper.extract_public_traits('elonmusk')

In [12]:
twitter_df = twitter_df.append([[name, screen_name, followers_count, idols_count]])

In [13]:
twitter_df

,0,1,2,3,followers count,idols count,name,tag
0,Elon Musk,@elonmusk,107687782.0,122.0,NaN,NaN,NaN,NaN

In [ ]:
pd.DataFrame(values=[[name, screen_name, followers_count, idols_count]])